@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf9f1 !important;
  --darkreader-bg--background: #fbf9f1 !important;
}

body {
  background: var(--background) !important;
}
html {
  background: var(--background) !important;
}

/* Para modo claro */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fbf9f1;
  }
}

/* Para modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #fbf9f1;
  }
}

.shake-animation {
  animation: tilt-shaking infinite 3s ease-in-out;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  10%,
  35% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30%,
  15% {
    transform: rotate(-5deg);
  }
  40%,
  100% {
    transform: rotate(0deg);
  }
}
