@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF9F1;
}

body {
  background: var(--background) !important;
}
html {
  background: var(--background) !important;
}
