@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF9F1 !important;
  --darkreader-bg--background: #FBF9F1 !important;
}

body {
  background: var(--background) !important;
}
html {
  background: var(--background) !important;
}
